MovieDB.xcodeproj/project.xcworkspace
MovieDB.xcodeproj/xcuserdata/satrio.wicaksono.m1.pro.xcuserdatad/xcschemes/xcschememanagement.plist
.DS_Store
MovieDB.xcodeproj/xcuserdata/satrio.wicaksono.m1.pro.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
