//
//  MovieDB.xcconfig
//  MovieDB
//
//  Created by Satrio Wicaksono on 12/11/22.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
API_KEY=408e87ee8bfedf7b2e467adc84df5afa
BASE_URL=https:/\/\api.themoviedb.org/
BASE_URL_IMAGE=https:/\/\image.tmdb.org/t/p/w500/
